* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.form-container {
    margin-top: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
    width: 100%;
    font-family: 'League Spartan', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

form {
    width: 60%;
    padding: 20px;
    border-radius: 8px;
}

fieldset {
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group {
    display: flex;
    gap: 20px;
}

.form-group div {
    flex: 1;
}

.checkbox-group {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

button {
    width: 100%;
    padding: 12px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}

button:hover {
    background: #218838;
}

@media (max-width: 1024px) {
    form {
        width: 80%; 
    }
}

@media (max-width: 768px) {
    .form-container {
        width: 100%;
        margin-top: 50px;
        padding: 10px;
    }
    form {
        width: 90%;
    }
    .form-group {
        flex-direction: column;
    }
}
